* {
	box-sizing: border-box;
}

#login-link{
	display: inline-block;
	text-decoration: none;
}

#login-form{
	margin-left: 1em;
}

#login-form input {
	margin-right: 0.5em;
	margin-top: -4px;
}

#login-form input::placeholder {
	color: #666;
}


.feature img {
	border-radius: 100px;
	width: 20%;
	height: 20%;
}

.error {
	color: red;
}

#testimonial-container {
	width: 80%;
	margin: 2em auto;
}

.testimonial {
	width: 80%;
	height: auto;
	display: none;
}

.testimonial small{
	font-size: 12px;
	align-self: end;
}

