@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.row {
  min-height: 100vh;
}

.card {
  border: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  padding: 2.25rem 0;
  position: relative;
  will-change: transform;
}
.card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #57e2b2;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}
.card:hover:after {
  width: 100%;
}
.card .card-header {
  background-color: white;
  padding-left: 2rem;
  border-bottom: 0px;
}
.card .card-title {
  margin-bottom: 1rem;
}
.card .card-block {
  padding-top: 0;
  padding-left: 2rem;
}
.card .list-group-item {
  border: 0px;
  padding: .25rem;
  color: #808080;
  font-weight: 300;
}

.display-2 {
  font-size: 7rem;
  letter-spacing: -.5rem;
}
.display-2 .currency {
  font-size: 2.75rem;
  position: relative;
  font-weight: 400;
  top: -45px;
  letter-spacing: 0px;
}
.display-2 .period {
  font-size: 1rem;
  color: #b3b3b3;
  letter-spacing: 0px;
}
/*
.btn {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 500;
  color: #a6a6a6;
  border-radius: 0;
  padding: .75rem 1.25rem;
  letter-spacing: 1px;
}*/

.btn-gradient {
  background-color: #f2f2f2;
  transition: background .3s ease-in-out;
}
.btn-gradient:hover {
  color: white;
  background-color: #57e2b2;
}
