* {
	box-sizing: border-box;
}

main {
	min-height: 90vh;
}

#login-link{
	display: inline-block;
	text-decoration: none;
}

#login-form{
	margin-left: 1em;
}

#login-form input {
	margin-right: 0.5em;
	margin-top: -4px;
}

#login-form input::placeholder {
	color: #666;
}

#admin-toolbar{
	display: flex;
	flex-direction: row;
	background: #aaa5;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 1em;
}

#admin-toolbar h5{
	margin-bottom: 0;
}

#admin-toolbar ul{
	display: flex;
	flex-direction: row;
	flex-basis: calc(100% - 10em);
	margin: 0;
	justify-content: space-around;
	align-items: center;
}

.feature img {
	border-radius: 100px;
	width: 20%;
	height: 20%;
}

.error {
	color: red;
}

#testimonial-container {
	width: 80%;
	margin: 2em auto;
	min-height: 90vh;
}

#testimonials{
	background-image: url('../images/yoga/yoga.jpg');
	padding: 5em 0;
}

.testimonial {
	width: 80%;
	height: auto;
	background: #EEED;
}

.testimonial blockquote{
	text-align: center;
	font-size: 2em;
}

.testimonial blockquote::before{
	font-family: times;
	content: '\201C';
}

.testimonial blockquote::after{
	font-family: times;
	content: '\201D';
}

.testimonial .lead{
	text-align: right;
}

.testimonial small{
	font-size: 12px;
	float: right;
	text-align: right;
}

#testimonial-share{
	float: right;
	background: #fffa;
	padding: 1em;
	border-radius: 5px;
	display: inline-block;	
	text-align: right;
}
/* word count span in testimonial-add page */
#testimonial_add .word-count{
	margin-left: 1em;
	opacity: 0.5
}


.admin-btns{
	background: #DDDD;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
	padding: 1em;
	width: 80%;
}
.back-btn, .fwd-btn{
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.4));
	height: 0;	
	width: 0;
	border-top: 3em solid transparent;
	border-bottom: 3em solid transparent;
	cursor: pointer;
}
.back-btn{
	border-right: 6em solid #0000ff;
}
.back-btn:hover{
	border-right: 6em solid #0000cc;
}
.fwd-btn{
	border-left: 6em solid #0000ff;
}
.fwd-btn:hover{
	border-left: 6em solid #0000cc;
}

#img-crop {
	margin: 0 auto;
	display: block;
}
