* {
	box-sizing: border-box;
}

.error {
	color: red;
}

#testimonial-container {
	width: 80%;
	margin: 2em auto;
}

.testimonial {
	width: 80%;
	height: auto;
	display: none;
}

.testimonial small{
	font-size: 12px;
	align-self: end;
}

#login-form input {
	margin-right: 0.5em;
}
#login-form input::placeholder {
	color: #666;
}

.feature {


}

.feature img {
	border-radius: 100px;
	width: 20%;
	height: 20%;

}
